/* CSS Geral para alinhar os textos à direita */
.school_card {
    display: flex;
    justify-content: center; /* Alinha o conteúdo ao final (direita) */
    margin-right: 20px; 
    background: rgba( 39, 24, 62, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 20%;
    height: 10%;/* Espaçamento da borda direita */
  }


  .header_information_dashboard{
    display: flex;
    justify-content: end;
  }

  .text_school_card {
    text-align: right; /* Alinha os textos internamente à direita */
  }
  
  .school-card {
    display: flex;
    justify-content: flex-end; /* Alinha o card inteiro à direita */
    padding: 10px;
    margin-bottom: 20px; /* Exemplo de espaçamento entre cards */
  }
  
  /* CSS Geral para alinhar os textos à direita */
.school_card {
    text-align: right;
    padding-right: 5px;
    margin-top: 2%;
    width: 15%;
    height: 80px;
  }
  

.dashboard_container{
    color: white;

}

.container_card_overview_users{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
    
}

.card_dashboard_students{
    display: block;
    justify-content: center;
    text-align: center;
    width: 20%;
    background: rgba( 39, 24, 62, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.icon_user {
    width: 100px;
    height: 100px;
    color:#ffffff;

}

.card_dashboard_teachers{
    
    display: block;
    justify-content: center;
    text-align: center;
    width: 20%;
    background: rgba( 39, 24, 62, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card_dashboard_parents{
    display: block;
    justify-content: center;
    text-align: center;
    width: 20%;
    background: rgba( 39, 24, 62, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 6.5px );
-webkit-backdrop-filter: blur( 6.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}