.hamburger-button {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: left 0.3s ease;
}

.hamburger-button:hover{
  transform: scale(1.05);
}

/* Estilos do Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #2c3e50;
  color: #fff;
  transition: left 0.3s ease;
  padding-top: 60px; /* Espaço para o menu não sobrepor o botão */
  z-index: 2; /* Sidebar acima do overlay */
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px 20px;
}

.links_sidebar {
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 35px;
  margin-top: 3px;
  border-radius: 10px;
  align-items: center;
}



.links_sidebar:hover {

  cursor: pointer;
  background-color: #a288e3; /* Roxo claro */
  transform: scale(1.05); /

}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; /* Overlay abaixo do sidebar */
}
