table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  .action-button {
    width: 10%;
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  color: #27183E;
  }
  
  
  .modal-actions {
    margin-top: 5%;
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10px; 
}

  .action-btn {
    width: 50%;
    height: 100%;
    margin: 0px;
    background-color: #27183E;
    color: rgb(255, 245, 245);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
  }
  .action-btn:hover {
    background-color: #ffffff;
    color: black;
  }


    .modal-actions-open {
        width: 150px; /* Definindo largura específica */
        height: 30px; /* Ajusta a altura com base no conteúdo */
        position: absolute;
        top: 100%; /* Posiciona logo abaixo do ícone */
        left: 0px; /* Alinha à esquerda do ícone */
        background-color: white;
        display:block ;
        border-radius: 4px;
        padding: 0px; /* Espaçamento interno */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
        z-index: 10; 
      
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    text-align: center;
  }
  
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 20%;
    height: 35%;
    text-align: center;
  }
  
  
  .btn-confirm {
    background-color: #068344;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-confirm:hover {
    background-color: #ffffff;
    color: black;
  }

  .input_modal_edit{
    width: 95%;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
  }
  
  .btn-cancel {
    background-color: #95a5a6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-cancel:hover {
    background-color: #dbdbdb;
    color: black;
  }
  

  .message {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
  }
  
  .message-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .message-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
/* From Uiverse.io by 3bdel3ziz-T */ 
.select {
  width: fit-content;
  cursor: pointer;
  position: relative;
  transition: 300ms;
  color: white;
  overflow: hidden;
}

.selected {
  background-color: #2a2f3b;
  padding: 5px;
  margin-bottom: 3px;
  border-radius: 5px;
  position: relative;
  z-index: 0;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
}

.arrow {
  position: relative;
  right: 0px;
  height: 10px;
  transform: rotate(-90deg);
  width: 25px;
  fill: white;
  z-index: 100000;
  transition: 300ms;
}

.options {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5px;
  background-color: #2a2f3b;
  position: relative;
  top: -100px;
  opacity: 0;
  transition: 300ms;
  margin-left: 5%;
}

.select:hover > .options {
  opacity: 1;
  top: 0;
  
}

.select:hover > .selected .arrow {
  transform: rotate(0deg);
}

.option {
  border-radius: 5px;
  padding: 5px;
  transition: 300ms;
  background-color: #2a2f3b;
  width: 150px;
  font-size: 15px;

}
.option:hover {
  background-color: #323741;
  cursor: pointer;
}

.options input[type="radio"] {
  display: none;
}

.options label {
  display: inline-block;
}
.options label::before {
  content: attr(data-txt);
}

.options input[type="radio"]:checked + label {
  display: none;
}

.options input[type="radio"]#all:checked + label {
  display: none;
}

.select:has(.options input[type="radio"]#all:checked) .selected::before {
  content: attr(data-default);
}
.select:has(.options input[type="radio"]#option-1:checked) .selected::before {
  content: attr(data-one);
}
.select:has(.options input[type="radio"]#option-2:checked) .selected::before {
  content: attr(data-two);
}
.select:has(.options input[type="radio"]#option-3:checked) .selected::before {
  content: attr(data-three);
}
